*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: #b45784;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 200px;
    height: auto;
    margin: 10px;
}

.tabela-precos{
    background-color: #dc6da3;
    padding: 20px;
    border-radius: 10px;
    font-size: 13px;
}

.tipos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    flex-direction: column;
    gap: 10px;
}

fieldset{
    margin: 10px 400px 10px 400px;
    padding: 30px;
}

.resultados{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-confirmar{
    padding: 12px;
    border-radius: 20px;
    background-color: #8b335d;
    border: none;
    color: #fff;
    font-size: 13px;
}


.btn-reniciar{
    padding: 12px;
    border-radius: 20px;
    background-color:  #9b3466;
    border: none;
    color: #fff;
    font-size: 13px;
}

.btn-confirmar:hover{
    background-color: #b8437c;
}

.btn-reniciar:hover{
    background-color: #444243;
}


input#valor_pago{
    padding: 12px;
    width: 50px;
    text-align: center;
    border-radius: 10px;
    border: none;
}